/* some common style sheet */
*{
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* header section styleSheet */
.header{
  background: #7B00FF;
}

/* main section style sheet */
.main{
   padding: 0px 10px;
}

/* product section style sheet */
.single-product {
  background: #F6F5F8;
  border: none;
  transition: all .5s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
}
.product-image {
  padding: 5px;
  border-radius: 6px;
  width: 150px;
  height: 150px;
}
.product-title{
  font-size: 1.1rem;
}
.body-text{
  font-size: .9rem;
}
.product-price{
  font-size: 1.6rem;
}
.line{
  margin-bottom: .3rem;
}

#addToCart-btn{
  background: #0040FF;
  color: #fff;
}

#details-btn{
  background: #7B00FF;
  color: #fff;
}

.highlight{
  color: #FD5800;
}

/* cart section style sheet */
.shopping-cart-title{
  padding-bottom: 20px;
  border-bottom: 1.5px solid #000;
}

.shopping-cart{
  position: fixed;
  right: 0;
  order: 2;
}

div#my-cart {
    background: #f6f5f8;
    padding: 5px;
    border-radius: 10px;
}

.products-container{
  order: 1;
}


/* Add responsive design */
@media (max-width: 576px){
  .shopping-cart{
    position: inherit;
    order: 1;
    margin-bottom: 20px;
  }
  .products-container{
    order: 2;
  }

}
