body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.header{
  background: #7B00FF;
}

.main{
   padding: 0px 10px;
}
.single-product {
  background: #F6F5F8;
  border: none;
  transition: all .5s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid #0040ffbd;
}
.product-image {
  padding: 5px;
  border-radius: 6px;
  width: 150px;
  height: 150px;
}


.shopping-cart-title{
  padding-bottom: 20px;
  border-bottom: 1.5px solid #000;
}

.line{
  margin-bottom: .3rem;
}

#addToCart-btn{
  background: #0040FF;
  color: #fff;
}

#details-btn{
  background: #7B00FF;
  color: #fff;
}

.highlight{
  color: #FD5800;
}

.title-text {
    color: #7b00ff;
}

.shopping-cart{
  position: fixed;
  right: 0;
  order: 2;
}
.products-container{
  order: 1;
}

@media (max-width: 576px){
  .shopping-cart{
    position: inherit;
    order: 1;
    margin-bottom: 20px;
  }
  .products-container{
    order: 2;
  }

}
